body {
    overflow: auto !important;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #3264ff;
    color: white;
}

#error {
    color: #cd0000;
}

.loggedin {
    display: none;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    position: relative;
    z-index: 2;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 100000 !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    z-index: 100001 !important;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#appttable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    padding: 30px;
    margin: 30px;
}

#tab, h1, h3 {
    margin: 20px !important;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#zmmtg-root {
    display: none;
}

button {
    padding: 1px 6px !important;
    /*border: solid;*/
    background: lightsteelblue !important;
    border: 1px outset black !important;
    border-image: initial !important;
}